* {
    color: rgb(49, 47, 47);
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 3px;
  }

/* Header */

header {
    padding: 20px 35px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header nav {
    margin: 7px 0;
}

header a {
    text-decoration: none;
    color: rgb(116, 149, 211);
}

header h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: rgb(49, 47, 47);;
}

header a:hover {
    opacity: 0.7;
    color: rgb(159, 98, 202);
  }

header nav ul {
    list-style: none;
    font-weight: bolder;
}

/* Body Styles */
section {
    background-color: rgb(245, 230, 212);
    margin: 20px;
}

.section-title {
    color: rgb(76, 119, 199);
    font-style: italic;
    text-align: center;
}

.about-me {
    border-top-left-radius: 40px;
}

#about, #work, #contact {
    text-align: center;
    padding: 20px;
}

.flex-row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.flex-row h3, .flex-row div p {
    width: 150px;
    text-align: left;
    float: left;
}

.flex-row span {
    font-family: cursive;
    font-size: 28px;
    transform: rotate(-4deg);
}

.flex-row img {
    float: right;
    width: 150px;
    height: 150px;
    border-radius: 8%;
}

.works {
    padding: 20px;
    display: inline-block;
}

/* Add a hover effect if you want */
.work-img:hover {
    opacity: 0.5;
    transform: scale(1.1);
}

.contact-me a:hover {
    opacity: 0.7;
    text-decoration: none;
  }

/* Social Media Icon */
.fa {
    padding: 12px;
    font-size: auto;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    background: black;
    color: white;
}

.material-icons {
    padding: 7px;
    font-size: auto;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    background: black;
    color: white;
}

  /* Add a hover effect if you want */
.fa:hover, .material-icons:hover {
    opacity: 0.7;
    border-radius: 50%;
  }

footer {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 25px;
}

.contact-me {
    border-bottom-right-radius: 30px;
   
}

@media screen and (min-width: 575px) {

.flex-about {
    float: auto;
}

}

@media screen and (min-width: 768px) {

.flex-about {
    display: inline-block;
    width: 550px;
}
   
.flex-about img {
    float:inherit;
}
}